@charset "UTF-8";
@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: url(../img/pexels-neo-853421-2653362.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
    }
    section.central{
        width: 60vw;
    }
    header > h1{
        text-align: justify;
        font-size: 1.6em;
    }
    header > img{
        display: block;
        height: 100px;
    }
    .container>div{
        height: 45px;
        width: 450px;
    }
    a{
        color:aliceblue;
    }
    .container>div:hover{
        background-image: linear-gradient(to top, #00000085, #8f8f8f);
        transition: 0.5;
    }
    a:hover{

        transition: 0.10;
    }
}   
@media screen and (min-width: 992px) {
    body{
        background-image: url(../img/pexels-neo-853421-2653362.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
    }
    section.central{
        width: 60vw;
    }
    header > h1{
        text-align: justify;
        font-size: 1.6em;
    }
    header > img{
        display: block;
        height: 100px;
    }
    .container>div{
        height: 45px;
        width: 450px;
    }
    a{
        color:aliceblue;
    }
    .container>div:hover{
        background-image: linear-gradient(to top, #00000085, #8f8f8f);
        transition: 0.5;
    }
    a:hover{

        transition: 0.10;
    }
}
